.add-recipe {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5rem 0;

  &__welcome {
    margin-bottom: 5rem;
    &-text {
      font-size: 5rem;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    width: 70%;
  }

  &__buttons {
    display: flex;
    padding: 2rem;
    align-items: center;
    justify-content: center;
  }

  &-btn {
    padding: 1rem 2rem;
    margin: 1rem;
    font-size: 3rem;
  }
}

.step {
  display: flex;
  flex-direction: column;
  justify-content: center;

  &:not(:last-child) {
    margin-bottom: 5rem;
  }

  &__welcome {
    font-size: 3.5rem;
    padding: 1rem;
    border-bottom: 3px solid var(--color-primary-green-2);
    width: max-content;
  }
}

.input {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto 0;

  &__step-1 {
    max-height: 90vh;
  }

  &__preparation-steps {
    width: 80%;
    max-height: 120vh;
    overflow: auto;
  }

  &__container {
    margin: 2rem;

    &-textarea {
      width: 70%;
      min-width: 40rem;
    }
  }

  &__text {
    font-size: 2.5rem;

    &-ingredients {
      margin-bottom: 7rem;
    }
  }

  &__box {
    width: 100%;
    min-width: 30rem;
    height: 6rem;
    padding: 1rem;

    font-size: 3.5rem;
    text-align: center;

    &-textarea {
      height: 14rem;
      width: 100%;
      font-size: 2rem;
      padding: 0.5rem;
    }
  }

  &__welcome {
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: flex-end;

    &-btn {
      padding: 1rem 2rem;
      margin-left: 1rem;
      font-size: 2.5rem;
    }
  }

  &__info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
  }

  &__btn {
    padding: 1rem 2rem;
  }
}

.ingredients {
  &__container {
    display: flex;
    flex-direction: row;
    flex: 1;
    gap: 3rem;
    padding: 2rem;

    margin-top: 2rem;

    @media only screen and (max-width: $bp-large) {
      flex-direction: column;
    }
  }

  &__box {
    display: flex;
    flex-direction: column;
    flex: 1;
  }

  &__search {
    display: flex;
    justify-content: space-around;
    margin-top: 2rem;
  }
  &__select {
    height: 5rem;
    width: 25%;
    font-size: 2rem;
  }

  &__searchbar {
    height: 5rem;
    width: 40%;
    font-size: 2rem;
    padding: 1rem;
  }

  &__btn {
    padding: 1rem 2rem;
    font-size: 2rem;
  }

  &__items {
    display: flex;
    flex-wrap: wrap;
    margin-top: 2rem;
    align-items: flex-start;
    justify-content: center;
    max-height: 60vh;
    overflow: auto;

    list-style: none;
  }

  &__item {
    &-btn {
      padding: 1rem;
      cursor: pointer;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    &-item {
      display: flex;
      justify-content: space-around;
      padding: 1rem;
      width: 80%;

      &:hover {
        background-color: var(--color-primary-green-2);
      }

      &:not(:last-child) {
        margin-bottom: 3rem;
      }

      & p {
        font-size: 2.5rem;
      }

      & select {
        width: 30%;
        font-size: 2rem;
      }

      & input {
        width: 20%;
        text-align: center;
        font-size: 2rem;
      }

      & button {
        padding: 1rem 2rem;
        cursor: pointer;
      }
    }
  }
}
