.add-recipe {
  display: flex;
  padding: 2rem 4rem;
  align-self: stretch;
  flex-direction: column;
  flex: 1;
  &__welcome {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &-text {
      font-size: 5rem;
      width: max-content;
    }

    &-btn {
      padding: 1rem 4rem;
      font-size: 3rem;
      cursor: pointer;
    }
  }

  &__form {
    display: flex;
    flex: 1;
    padding: 2rem;
  }
}

.step {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  gap: 2rem;

  &:not(:last-child) {
    border-right: 3px solid var(--color-primary-green-2);
  }

  &__welcome {
    font-size: 3rem;
    text-align: center;
  }
}

.input {
  width: 60%;
  height: 5rem;
  font-size: 2rem;
  &__recipe {
  }

  &__box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  &__text {
    font-size: 2.5rem;
  }

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 3rem;
    width: 100%;
    max-height: 70rem;
    flex: 1;

    margin: auto 0;
  }
}
