.container-search {
  display: flex;
  flex-direction: column;
  height: 100vh;
  // margin: 2rem;
  background-color: var(--color-primary-light-1);

  @media only screen and (max-width: $bp-large) {
    margin: 0;
  }
}

.header {
  background-color: var(--color-primary-green-1);

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;

  border-bottom: 2px solid var(--color-primary-green-2);

  @media only screen and (max-width: $bp-large) {
    flex-direction: column;
    gap: 0.5rem;

    padding: 2rem;
  }
}

.logo {
  display: flex;
  align-items: center;
  margin: 1rem 1rem;

  @media only screen and (max-width: $bp-large) {
    margin: 0;
  }

  img {
    height: 8rem;
    margin-right: 2rem;
  }

  h1 {
    font-size: 4rem;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    font-family: "Chentalle";
    font-weight: 700;
    color: var(--color-primary-green-3);
  }
}

.searchbar {
  height: 5rem;
  min-width: 30rem;
  flex: 0 1 35%;

  display: flex;
  justify-content: center;

  @media only screen and (max-width: $bp-large) {
    order: 1;
    min-width: 70rem;
  }

  &__input {
    border-radius: none;
    margin-right: -3.25rem;
    border: none;
    text-align: center;
    transition: all 0.2s;
    border-radius: 2rem;
    width: 80%;

    font-size: 2rem;
    font-family: "Chentalle";

    @media only screen and (max-width: $bp-large) {
      height: 6rem;
    }

    &:focus {
      outline: none;
      width: 100%;
    }
  }

  &__btn {
    font-size: 1.5rem;
    padding: 0 2rem;

    &:active {
      transform: scale(105%);
    }
  }
}

.navigation {
  display: flex;
  list-style: none;

  &__register {
    display: flex;
  }

  &__account {
    display: flex;
  }

  &__parent {
    position: relative;

    &:hover .navigation__dropdown {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  &__dropdown {
    position: absolute;
    right: 0;
    width: 15rem;
    background-color: var(--color-primary-green-1);
    display: none;
    &-list {
      float: right;

      list-style: none;
      display: flex;
      flex-direction: column;
    }

    &-el {
      margin: 1rem 1rem;
      font-size: 1.8em;
      padding: 1rem;
      cursor: pointer;

      &:hover {
        background-color: var(--color-primary-green-2);
      }
    }
  }

  &__item {
    padding: 3.4rem 1.5rem;
    height: 100%;
    cursor: pointer;

    @media only screen and (max-width: $bp-large) {
      padding: 1.5rem;
    }

    &:hover {
      background-color: var(--color-primary-green-2);
      transition: all 0.2s;
    }

    h2 {
      font-size: 2rem;
      text-align: center;
      font-family: "Chentalle";

      color: var(--color-primary-green-3);
    }
  }
}
