.container-search {
  height: 92vh;
  background-color: var(--color-primary-light-1);
  margin: 2rem;

  display: flex;
  flex-direction: column;
}

.header {
  background-color: var(--color-primary-green-1);

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;

  @media only screen and (max-width: $bp-large) {
    flex-direction: column;
    gap: 0.5rem;

    padding: 2rem;
  }
}

.logo {
  display: flex;
  align-items: center;
  margin: 1rem 1rem;

  @media only screen and (max-width: $bp-large) {
    margin: 0;
  }

  img {
    height: 8rem;
    margin-right: 2rem;
  }

  h1 {
    font-size: 4rem;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    font-family: "Chentalle";
    font-weight: 700;
    color: var(--color-primary-green-3);
  }
}

.searchbar {
  height: 5rem;
  min-width: 30rem;
  flex: 0 1 35%;

  display: flex;
  justify-content: center;

  @media only screen and (max-width: $bp-large) {
    order: 1;
    min-width: 70rem;
  }

  &__input {
    border-radius: none;
    margin-right: -3.25rem;
    border: none;
    text-align: center;
    transition: all 0.2s;
    border-radius: 2rem;
    width: 80%;

    font-size: 2rem;
    font-family: "Chentalle";

    @media only screen and (max-width: $bp-large) {
      height: 6rem;
    }

    &:focus {
      outline: none;
      width: 100%;
    }
  }

  &__btn {
    font-size: 1.5rem;
    padding: 0 2rem;

    &:active {
      transform: scale(105%);
    }
  }
}

.list {
  display: flex;
  list-style: none;

  &__item {
    padding: 3.4rem 1.5rem;
    height: 100%;
    cursor: pointer;

    @media only screen and (max-width: $bp-large) {
      padding: 1.5rem;
    }

    &:hover {
      background-color: var(--color-primary-green-2);
      transition: all 0.2s;
    }

    h2 {
      font-size: 2rem;
      text-align: center;
      font-family: "Chentalle";

      color: var(--color-primary-green-3);
    }
  }
}
