.recipe {
  display: flex;

  @media only screen and (max-width: $bp-large) {
    flex-direction: column;
  }

  &__info {
    flex: 1 1 35%;
    margin: 0;
    padding: 0;
  }

  &__img {
    width: 100%;
    height: auto;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  &__name {
    padding: 2rem;
    font-size: 4rem;
    transform: skew(-15deg);
    background-color: var(--color-primary-green-2);
    margin-bottom: 3rem;
    text-align: center;
    width: max-content;
    align-self: center;
  }

  &__boxes {
    height: 8rem;
    background-color: var(--color-primary-green-2);
    position: relative;
    bottom: 1rem;

    display: flex;
    justify-content: space-around;
    align-items: center;

    &-text {
      font-size: 1.6rem;
      font-weight: 600;
      color: var(--color-primary-light-1);
    }
  }

  &__box {
    display: flex;
    align-items: center;
    align-self: stretch;
    padding: 1rem;

    &-likes {
      cursor: pointer;
      &:hover {
        background-color: var(--color-primary-green-3);
      }
    }
  }

  &__svg {
    height: 2.5rem;
    width: 2.5rem;
    margin-right: 2rem;
    fill: var(--color-primary-light-1);
  }
}

.ingredients {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 3rem 4rem;
  justify-content: center;

  &__text {
    font-size: 3.5rem;
    padding: 1rem;

    @media only screen and (max-width: $bp-large) {
      text-align: center;
      padding: 3rem;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    max-height: 55vh;
    flex-wrap: wrap;
    margin-left: 2rem;

    @media only screen and (max-width: $bp-large) {
      align-items: center;
    }
  }

  &__item {
    font-size: 2rem;
    margin: 1rem;
    width: max-content;
    list-style: none;
    &:not(:last-child) {
      margin-bottom: 1rem;
    }
  }

  &__content {
    margin: auto 0;
  }
}

.preparation {
  display: flex;
  flex-direction: column;
  padding: 5rem 10rem;
  height: auto;

  @media only screen and (max-width: $bp-large) {
    margin: 0;
    align-items: center;
  }

  &__text {
    margin-bottom: 3rem;
    font-size: 4rem;
  }

  &__step {
    width: 70vw;
    margin-left: 5rem;

    @media only screen and (max-width: $bp-large) {
      margin: 0;
      align-items: center;
    }

    &:not(:last-child) {
      margin-bottom: 3rem;
    }

    &-number {
      margin-bottom: 1rem;
      font-size: 3rem;
      width: max-content;
      padding: 0 1rem;
      border-bottom: 3px solid var(--color-primary-green-2);
    }

    &-text {
      font-size: 2rem;
      margin-left: 2rem;
      padding: 2rem;
    }
  }
}

.reviews {
  padding: 5rem 10rem;

  &__text {
    font-size: 4rem;
    width: max-content;
    padding: 0 2rem;
    border-bottom: 3px solid var(--color-primary-green-2);
  }

  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
    & textarea {
      width: 50vw;
      height: 20rem;
      padding: 1rem;
      font-size: 2rem;
    }

    &-text {
      padding: 2rem;
      font-size: 2.5rem;
    }
  }

  &__buttons {
    display: flex;
    gap: 3rem;
    padding: 2rem;
  }

  &__button {
    padding: 1rem;
    font-size: 2rem;
    cursor: pointer;
  }
}

.comments {
  display: flex;
  flex-direction: column;
  margin-top: 5rem;
  align-items: center;
}

.comment {
  display: flex;
  flex-direction: column;
  width: 35%;
  min-width: 50rem;
  padding: 2rem;
  border: 1px solid var(--color-primary-green-2);

  &:not(:last-child) {
    margin-bottom: 2rem;
  }

  &__info {
    display: flex;
    justify-content: space-between;
    border-bottom: 3px solid var(--color-primary-green-2);
    padding: 0 1rem;
    &-author {
      font-size: 3rem;
    }

    &-date {
      font-size: 1.5rem;
      align-self: flex-end;
    }
  }

  &__text {
    font-size: 2.5rem;
    margin-top: 2rem;
    margin-left: 2rem;
  }
}
