.search-content {
  display: flex;
  flex-direction: row;
  flex: 1;
  overflow: hidden;
}

.sidenav {
  min-width: 30rem;
  flex: 0 0 30%;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: var(--color-primary-green-1);

  &__text {
    font-size: 3.5rem;
    text-align: center;
    margin: 2rem 0;
    color: var(--color-primary-green-3);
  }
  &__searchbar {
    display: flex;
    margin-bottom: 3rem;
    justify-content: center;

    &__input {
      flex: 0 0 60%;
      margin-right: 1rem;
      height: 3.7rem;
      border: none;
      text-indent: 1rem;
      margin-right: -3rem;
      border-radius: 5rem;
      &:focus {
        outline: none;
      }
    }

    &__btn {
      border: none;
      padding: 0.7rem;
      font-size: 2rem;
    }
  }

  &__btns {
    display: flex;
    justify-content: space-around;
    margin: 3rem 0;
  }

  &__btn {
    padding: 1rem;
    min-width: 7rem;
    font-size: 1.5rem;
  }

  &__ingredients {
    font-size: 2.5rem;
    padding: 1rem 2rem;
  }

  &__products-list {
    flex: 1;
    overflow-y: auto;
  }
}

.ingredient {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 1rem;
  overflow: hidden;

  border-right: 1px solid var(--color-primary-green-2);
  border-bottom: 1px solid var(--color-primary-green-2);

  &__types {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow: auto;
    padding: 2rem;
  }

  &__welcome-text {
    padding: 2rem;
    font-size: 3.5rem;
  }
}

.type {
  &:not(:last-child) {
    margin-bottom: 1.5rem;
  }

  &__name {
    margin-bottom: 1rem;
    border-bottom: 1px solid var(--color-primary-green-2);
    font-size: 2rem;
  }

  &__ingredients {
    display: flex;
    flex-wrap: wrap;
  }

  &__ingredient {
    list-style: none;
    &-btn {
      margin: 0.5rem;
      padding: 0.5rem;
      cursor: pointer;
      border: none;
      border-radius: 1rem;
      background-color: var(--color-primary-green-2);
      color: var(--color-primary-light-1);
      font-size: 2rem;

      &:active {
        transform: scale(105%);
      }
    }
  }
}
.product {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10rem;
  transition: 0.2s all;

  &:not(:last-child) {
    margin-bottom: 1rem;
  }
  &:hover {
    background-color: var(--color-primary-light-1);
  }

  &__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem 3rem;

    &-name {
      font-size: 2.5rem;
      font-weight: 900;
    }

    &-type {
      font-size: 1.6rem;
      color: grey;
    }
  }

  &__action {
    padding: 0.5rem 1rem;
    font-size: 2rem;
    margin-right: 3rem;
    color: var(--color-primary-light-1);
    background-color: var(--color-primary-green-2);
    border: none;
    border-radius: 5rem;
    cursor: pointer;

    &:active {
      transform: scale(105%);
    }
  }
}
