.user-panel {
  display: flex;
  flex-direction: column;

  padding: 5rem;

  @media only screen and (max-width: $bp-large) {
    padding: 0;
  }

  &__welcome {
    font-size: 4.5rem;
    margin-bottom: 3rem;
  }
}

.panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  overflow: hidden;
  background-color: var(--color-primary-green-1);
  padding: 1rem 2rem;
  box-shadow: 9px 9px 32px -13px rgba(66, 68, 90, 1);
  border-radius: 3rem;
  min-height: 50vh;
  margin-bottom: 6rem;

  &-1 {
    display: flex;
    flex-direction: row;
    gap: 6rem;

    @media only screen and (max-width: $bp-large) {
      flex-direction: column;
    }
  }

  &-2 {
    min-height: 70vh;
    align-items: flex-start;
    display: flex;
  }

  &__welcome {
    font-size: 3.5rem;
    padding: 1rem 2rem;
    margin-bottom: 2rem;
    border-bottom: 3px solid var(--color-primary-green-2);
    width: max-content;
    align-self: flex-start;
  }

  &__items {
    display: flex;
    flex-direction: column;
    gap: 3rem;

    border: 3px solid var(--color-primary-green-2);

    overflow: auto;
    padding: 5rem;
    width: 100%;
    max-width: 100rem;
    max-height: 70vh;
    list-style: none;
  }

  &__item {
    display: flex;
    padding: 2rem;
    align-items: center;
    justify-content: space-between;
    transition: 0.2s all;
    border: 3px solid var(--color-primary-light-1);

    &:hover {
      background-color: var(--color-primary-light-1);
      transform: 1s all;
    }
  }

  &__img {
    width: 15rem;
    height: auto;
    border-radius: 100%;
  }

  &__text {
    font-size: 2.5rem;
    margin-bottom: 3rem;

    &-right {
      margin-left: auto;
    }

    &-info {
      margin-top: 3rem;
      font-size: 2rem;
      margin: auto 0;
      letter-spacing: 0.2rem;
      line-height: 4rem;
      font-weight: 500;
    }
  }

  &__button {
    padding: 1rem 2rem;
    font-size: 1.5rem;
    cursor: pointer;
  }

  &__buttons {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5vh;
    margin-bottom: 2rem;
  }

  &__username {
    display: flex;
    flex: 1;
    width: 100%;
    margin-top: 5rem;

    @media only screen and (max-width: $bp-large) {
      flex-direction: column;
      align-items: center;
      gap: 4rem;
    }

    &-welcome {
      margin-bottom: 4rem;
      font-size: 3.5rem;
    }
  }

  &__information {
    display: flex;
    flex-direction: column;
    width: 65%;

    &-btn {
      width: max-content;
      margin-top: 2rem;
      padding: 1rem 2rem;
      align-self: flex-start;
      cursor: pointer;
    }

    &-content {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 2rem;
      flex: 1;
    }
  }

  &__password {
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2rem;
  }

  &__row {
    display: flex;
    flex-direction: column;

    @media only screen and (max-width: $bp-large) {
      width: 60%;
    }

    &-input {
      @media only screen and (max-width: $bp-large) {
        width: 100%;
        height: 6rem;
        min-width: 25rem;
      }
    }

    &-text {
      font-size: 1.8rem;
      padding: 0.5rem 1rem;
      align-self: center;
      margin-bottom: 2rem;
    }

    &-select {
      height: 4rem;
      text-align: left;
      font-size: 2rem;
      text-indent: 1rem;
      width: 25rem;
      border: none;
      border-radius: 1rem;
    }
  }

  &__admin {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 3rem;

    &-row {
      display: flex;
      margin-bottom: 3rem;
      padding: 3rem 0;
      min-height: 20rem;
      gap: 3rem;

      &:not(:last-child) {
        border-bottom: 3px solid var(--color-primary-light-1);
      }

      @media only screen and (max-width: $bp-large) {
        flex-direction: column;
        align-items: center;
        gap: 4rem;
      }
    }

    &-section {
      flex: 1;
      display: flex;
      flex-direction: column;
    }
  }
  &__section {
    display: flex;
    gap: 6rem;

    &-form {
      width: 40%;

      @media only screen and (max-width: $bp-large) {
        width: 100%;
      }
    }

    &-info {
      display: flex;
      align-items: flex-start;
      justify-content: center;
      overflow: auto;
      max-height: 80vh;
      flex: 1;

      @media only screen and (max-width: $bp-large) {
        width: 100%;
        max-height: 60vh;
      }
    }
    &-action {
      display: flex;
      align-items: center;
      justify-content: space-around;
      height: 100%;
      width: 100%;
    }

    &-btn {
      padding: 0.5rem 1rem;
      font-size: 1.5rem;
      margin: 0.5rem;
      background-color: var(--color-primary-green-3);
      cursor: pointer;
    }
  }

  &__tags {
    display: flex;
    flex-direction: row;
  }
}

#customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 80%;
  border: 3px solid var(--color-primary-green-3);
  align-self: center;
}

#customers td,
#customers th {
  font-size: 2rem;
  flex: 1 0 30%;
  border: 1px solid var(--color-primary-green-1);
  padding: 0.8rem;
  height: 8rem;
}

#customers tr:nth-child(even) {
  background-color: var(--color-primary-light-1);
}

#customers tr:hover {
  background-color: var(--color-primary-green-2);
}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: var(--color-primary-green-3);
  color: white;
}
